DATABASE_URL=""

POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=""
NEXT_PUBLIC_API_KEY=""

NEXT_PUBLIC_BASE_URL=""
NEXTAUTH_URL=""