@import "../../variable";

.input {
  all: unset;
  font-size: 1rem;
  width: 100%;
  padding: .25rem 0;
  color: $primary_text_color;
  border-bottom: 1px solid $primary_text_color;

  ::placeholder {
    color: $primary_placeholder_text_color;
  }
}

.coverInput {
  position: relative;
}

.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: lighter;
}

.label {
  color: $primary_text_color;
  font-weight: bold;
  font-size: 1rem
}

.inputError {
  border-color: $error_color;
}

.error {
  color: $error_color;
  font-size: $error_font_size;
}

.inputRelative {
  position: relative;

  input[type="date"] {
    width: 100%;

    ::placeholder {
      color: $primary_placeholder_text_color;
    }

    &:focus {

    }
  }
}

.hideBtn {
  all: unset;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.icon {
  fill: $primary_text_color
}

.date {
}

.settingLabel {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.settingInput {
  width: 30rem;
}