@import "../../variable";

.header {
  display: flex;
  border-bottom: 1px solid $primary_text_color;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 3.5rem;
    padding: 0.75rem 2.5rem;
  }

}

.closeButton {
  justify-self: flex-end;
  width: 6.3rem;
  height: 6.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $primary_text_color;

}

.closeIcon {
  padding: 0.5rem;
  aspect-ratio: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease $btn_animation;

  &:hover {
    transform: rotate(180deg);
  }

  path {
    stroke: $primary_text_color;
  }
}

.footer {
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: flex-end;
  position: sticky;

  div {
    display: flex;;
    justify-self: flex-end;
    width: 23rem;
    gap: 2rem;
  }
}