$landing_font_menu: 1.5rem; // 24px
$landing_btn_font_menu: 1.125rem; // 18px
$landing_placeholder_font_menu: 0.75rem; // 12px

$primary_text_color: #2A2E21;
$primary_placeholder_text_color: #727469;
$primary_color: #FDFCF5;
$inner_btn_hover: #D61C4E;

$line_animation: 300ms;
$btn_animation: 150ms;