$landing_font_menu: 1.5rem; // 24px
$landing_btn_font_menu: 1.125rem; // 18px
$landing_placeholder_font_menu: 0.75rem; // 12px
$error_font_size: 0.813rem;

$primary_text_color: #2A2E21;
$primary_placeholder_text_color: #727469;
$primary_btn_hover: #54574B;
$primary_color: #FDFCF5;
$inner_btn_hover: #D61C4E;
$error_color: #AC001A;

$line_animation: 800ms;
$btn_animation: 500ms;