@import "../../variable";

.button {
  padding: .5rem 1.5rem;
  color: $primary_text_color;
  border: 1px solid $primary_text_color;
  border-radius: 2rem;
  transition: ease-in-out $btn_animation;
  font-size: 1rem;

  &:hover {
    color: $primary_color;
    background-color: $primary_text_color;
  }
}

.login {
  color: $primary_color;
  background-color: $primary_text_color;
  font-size: 1rem;
  //border: 0px solid rgba(0, 0, 0, 0);
  border: none;

  &:hover {
    color: $primary_color;
    background-color: $primary_btn_hover;
  }
}

.loginDark {
  color: $primary_text_color;
  background-color: $primary_color;
  font-size: 1rem;
  border: 1px solid $primary_text_color;

  &:hover {
    color: $primary_color;
    background-color: $primary_text_color;
  }
}

.disable {
  background-color: $primary_btn_hover;

  div {
    width: fit-content;
  }
}
