@import "./../../variable";

.main {
  background-color: $primary_color;
  min-height: 100vh;
  overflow-x: hidden;
  overflow: clip;
}

.gridDisplay {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  overflow: clip;
  max-height: 100vh;
  overflow: scroll;
}

.header {
  grid-row: span 2 / span 2;
  width: 33.33333%;
  display: block;

  .title {
    font-size: 3rem;
  }

}