.onDesktop {
	display: flex;
	gap: 1rem;
}

.onMobile {
	display: none;
	transition: all 0.5s ease;
	position: relative;
}

.menu {
	display: flex;
	flex-direction: column;
  justify-content: space-between;
	align-items: center;
	background: #000000c8;
	height: fit-content;
	position: absolute;
	top: 0rem;
	width: 100%;
	height: 100vh;
	left: 0;
	transition: all 0.5s ease;
	padding: 1rem;
}

@media (max-width: 576px) {
	.onDesktop {
		display: none;
	}
	.onMobile {
		display: flex;
	}
}

.menuContent {
  width: 100%;
	display: flex;
	flex-direction: column;
  gap: 1rem;
}
