@import "../../../variable";
@import "include-media";

.container {
  //z-index: 3;
  background-color: #000;
  position: absolute;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  color: $primary_color;
  transition: ease-in-out opacity $line_animation;

  button {
    color: $primary_color;
  }

  div {
    display: flex;
    flex-direction: column;
  }
}

.btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.closeIcon {
  width: 2rem;
  height: 2rem;
  transition: ease $btn_animation;

  &:hover {
    transform: rotate(180deg);
  }

  path {
    stroke: $primary_color;
  }
}

.invert {
  opacity: 1;
  color: $primary_text_color;
  background-color: $primary_color;

  path {
    stroke: $primary_text_color;
  }

  button {
    color: $primary_text_color;
  }

  span {
    background-color: $primary_text_color;
  }
}