@import "include-media";

.content {
  width: 100%;
  height: 100%;
  position: relative;

}

.itemAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.imageContainer {
  transition: ease-in-out 2500ms;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.containerImage2 {
  display: flex;
  width: 100%;
  padding: 7rem 0 3rem 0;
  align-items: flex-end;
  gap: 3rem;
}

.image1 {
  height: 100%;
  width: auto;
}

.image2 {
  height: auto;
  max-height: 70%;
  width: auto
}

.containerImage3 {
  display: flex;
  width: 100%;
  padding: 1rem 0 1rem 0;
  gap: 3rem;
  //justify-content: space-between;

  .imageRightContainer {
    display: flex;
    width: fit-content;
    align-items: flex-end;
    position: relative;

    .image4 {
      min-height: 20rem;
      //height: 100%;
      width: auto;
      @include media("retina2x", ">desktop") {
        height: 40%;
      }
    }
  }

  .imageLeftContainer {
    width: min-content;
    display: flex;
    align-items: flex-start;
    position: relative;

    .image3 {
      min-height: 15rem;
      width: auto;

      @include media("retina2x", ">desktop") {
        height: 40%;
      }
    }
  }
}
